<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>
  <link rel="stylesheet" href="webjars/bootstrap/5.1.2/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
</head>
<body>
  <h1>Welcome to FP worlds!</h1>

  <div id="app"></div>
  <script src="webjars/server/1.0/scalajs-client-fastopt-bundle.js"></script>
</body>
</html>