body {
    background: url("/assets/images/bg.jpg") fixed;
    background-size: cover;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

::selection {
    background: #ffc8ff !important;
}